<% @page_title = "Show All Listings" %>
<% @page_desc = "This area is to show all listings" %>

<div class="container">
  <div class="row">
    <div class="panel panel-default panel-table">
      <div class="panel-heading">
        <div class="row">
          <div class="col col-xs-6">
            <%= link_to("Back to Sub Categories", sections_path(:category_id => @section.category.id), :class => 'btn btn-danger btn-xs') %>
          </div>
          <div class="col col-xs-6 text-right">
            <%= link_to 'Add New Listing', new_listing_path(:section_id => @section.id), class: "btn btn-danger btn-xs" %>
          </div>
        </div>
      </div>
    </div>
    <% if(@listings.count > 0) %>

      <% @listings.each do |listing| %>
        <div class="span3">
          <div class="well">
            <h2 class="text-warning text-center"><%= listing.name %></h2>
            <p class="text-center"><span class="label label-success"><%= @section.name %></span></p>         
            <p><%= listing.description %></p>
            <p class="text-center"><%= link_to image_tag(listing.image.url), listing %></p>
            <hr>
            <h3 class="text-center"><%= number_to_currency(listing.price, 
                :precision => 2,
                :unit => "INR", :format => "%u %n") %></h3>
            <hr>
            <p class="text-right">
              <%= link_to("", edit_listing_path(listing, :section_id => @section.id), 
                :class => "btn btn-warning btn-xs glyphicon glyphicon-edit",
                :title => "Edit") %>
              <%= link_to("", delete_listing_path(listing, :section_id => @section.id), 
                :class => "btn btn-danger btn-xs glyphicon glyphicon-remove",
                :title => "Delete") %>
            </p>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>
</div>

