<% @page_title = "Show All Listings" %>
<% @page_desc = "This area is to show all listings" %>

<div class="container">
  <div class="panel panel-default panel-table">
    <div class="panel-heading">
      <div class="row">
        <div class="col col-xs-6">
          <%= link_to("Back to Categories", categories_path, :class => 'btn btn-sm btn-primary btn-create') %>
        </div>
        <div class="col col-xs-6 text-right">
          <%= link_to 'Add New Listing', new_listing_path(:section_id => @section.id), class: "btn btn-sm btn-primary btn-create" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="span3">
        <div class="well">
          <h2 class="text-warning"><%= listing.name %></h2>
          <p><span class="label label-success"><%= @section.name %></span></p>         
          <p><%= listing.description %></p>
          <hr>
          <h3><%= listing.price %></h3>
          <hr>
          <p>
            <%= link_to("", listing_path(listing, :section_id => @section.id), 
              :class => "btn btn-primary btn-xs glyphicon glyphicon-flag", 
              :title => "Show") %>
            <%= link_to("", edit_listing_path(listing, :section_id => @section.id), 
              :class => "btn btn-warning btn-xs glyphicon glyphicon-edit",
              :title => "Edit") %>
            <%= link_to("", delete_listing_path(listing, :section_id => @section.id), 
              :class => "btn btn-danger btn-xs glyphicon glyphicon-remove",
              :title => "Delete") %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

