<% @page_title = "Show Listing" %>

<%= link_to("<< Back to Listings", listings_path(:section_id => @section.id), :class => 'btn btn-link') %>

<div class="page-header">
  <h2>Show Listing</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Listing Name</th>
    <th class="center">Sub Category Name</th>
	  <th class="center">Description</th>
    <th class="center">Price</th>
    <th class="center">Visible</th>
    <th class="center">Created at</th>
    <th class="center">Updated at</th>
  </tr>
  <tr>
    <td><%= @listing.name %></td>
    <td><%= @section.name %></td>
	<td><%= @listing.description %></td>
	<td><%= @listing.price %></td>
    <td><%= @listing.visible ? 'Yes' : 'No' %></td>
    <td><%= @listing.created_at %></td>
    <td><%= @listing.updated_at %></td>
  </tr>
</table>