<%= error_messages_for(f.object) %>

<fieldset>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="sectionName">Sub Category Name</label>  
    <div class="col-md-4">
      <%= f.text_field(:name, class: 'form-control input-md', id: 'sectionName', placeholder: 'Enter Sub Category Name') %>
    </div>
  </div>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="categoryName">Category Name</label>  
    <div class="col-md-4">
      <%= f.object.category.name %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="blankspace1"></label>
    <div class="col-md-4">
      <label class="checkbox-inline" for="visible">
        <%= f.check_box :visible %>
        Visible
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="blankspace2"></label>
    <div class="col-md-4 text-left">
        <%= link_to 'Cancel', sections_path(:category_id => @category.id), class: "btn btn-bordered-warning" %>
        <%= f.submit("Submit", :class => 'btn btn-bordered-primary') %> 
    </div>  
  </div>
</fieldset>