<%= error_messages_for(f.object) %>

<fieldset>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-sm-4 control-label" for="sectionName">Sub Category Name</label>
    <div class="col-sm-8">
      <%= f.text_field(:name, class: 'form-control', id: 'sectionName', placeholder: 'Enter Sub Category Name') %>
      <small id="subCategoryNameHelp" class="form-text text-danger">Please enter the Sub Category Name.</small>
    </div>
  </div>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-sm-4 control-label" for="categoryName">Category Name</label>
    <div class="col-sm-8 text-danger">
      <%= f.object.category.name %>
    </div>
  </div>
  <!-- Checkbox -->
  <div class="form-group">
    <div class="col-xs-offset-4">
      <%= label_tag(:visible, "Visible") %>
      <%= f.check_box :visible %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="pull-right">
        <%= link_to 'Cancel', sections_path(:category_id => @category.id), class: "btn btn-default" %>
        <%= f.submit("Submit", :class => 'btn btn-primary') %>
      </div>
    </div>
  </div>
</fieldset>

