<% @page_title = "Show All Sub Categories" %>
<% @page_desc = "This area is to show all Sub Categories" %>


<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default panel-table">
    <div class="panel-heading">
      <div class="row">
        <div class="col col-xs-6">
          <%= link_to("Back to Main Categories", categories_path, :class => 'btn btn-sm btn-success btn-create') %>
        </div>
        <div class="col col-xs-6 text-right">
          <%= link_to 'Add New Sub Category', new_section_path(:category_id => @category.id), class: "btn btn-sm btn-primary btn-create" %>
        </div>
      </div>
    </div>
    <% if(@sections.count > 0) %>
    <div class="panel-body table-responsive">
      <table class="table table-striped table-bordered table-list">
        <thead>
          <tr>
            <th class="text-center">Sub Category Name</th>
            <th class="text-center">Main Category Name</th>
            <th class="text-center">Visible</th>
            <th class="text-center">Actions</th>
            <th class="text-center">Associated Listings</th>
          </tr> 
        </thead>
        <tbody id="myTable">  
          <% @sections.each do |section| %>
              <tr>
                <td class="text-center"><%= section.name %></td>
                <td class="text-center"><%= @category.name %></td>
                <td class="text-center"><%= section.visible ? "Yes" : "No" %></td>
                <td class="text-center">
                  <%= link_to("", edit_section_path(section, :category_id => @category.id), 
                    :class => "btn btn-warning btn-xs glyphicon glyphicon-edit",
                    :title => "Edit") %>
                  <%= link_to("", delete_section_path(section, :category_id => @category.id), 
                    :class => "btn btn-danger btn-xs glyphicon glyphicon-remove",
                    :title => "Delete") %>
                </td>
                <td class="text-center">
                  <%= link_to 'Click Me!', listings_path(:section_id => section.id), class: "btn btn-sm btn-success btn-create" %>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
<!--     <div class="panel-footer">
      <div class="row">
        <div class="col col-xs-4">Page 1 of 5
        </div>
        <div class="col col-xs-8">
          <ul class="pagination hidden-xs pull-right" id="myPager">
          </ul>
          <ul class="pagination visible-xs pull-right">
              <li><a href="#">«</a></li>
              <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>
</div>
