<%= error_messages_for(f.object) %>

<fieldset>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-sm-4 control-label" for="categoryName">Category Name</label>
    <div class="col-sm-8">
      <%= f.text_field(:name, class: 'form-control', id: 'categoryName', placeholder: 'Enter Category Name') %>
      <small id="categoryNameHelp" class="form-text text-danger">Please enter the Category Name.</small>
    </div>
  </div>
  
  <div class="form-group">
    <!-- Radio Button -->
    <div class="col-sm-4 col-xs-offset-4">
      <%= f.radio_button(:category, "Service") %>
      <%= label_tag(:service, "Service") %>
       <%= f.radio_button(:category, "Product") %>
      <%= label_tag(:product, "Product") %>              
    </div>
    <!-- Checkbox -->
    <div class="col-sm-4">
      <%= label_tag(:visible, "Visible") %>
      <%= f.check_box :visible %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="pull-right">
        <%= link_to 'Cancel', categories_path, class: "btn btn-default" %>
        <%= f.submit("Submit", :class => 'btn btn-primary') %>
      </div>
    </div>
  </div>
</fieldset>



