<% @page_title = "Show Category" %>
<% @page_desc = "This area is to show details of a category" %>

<%= link_to("<< Back to Categories", categories_path, :class => 'btn btn-link') %>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Name</th>
    <th class="center">Visible</th>
    <th class="center">Created at</th>
    <th class="center">Updated at</th>
  </tr>
  <tr>
    <td><%= @category.name %></td>
    <td><%= @category.visible ? 'Yes' : 'No' %></td>
    <td><%= @category.created_at %></td>
    <td><%= @category.updated_at %></td>
  </tr>
</table>