<% @page_title = "Show Category" %>

<%= link_to("<< Back to Categories", categories_path, :class => 'btn btn-link') %>

<div class="page-header">
  <h2>Show Category</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Name</th>
    <th class="center">Category</th>
    <th class="center">Visible</th>
    <th class="center">Created at</th>
    <th class="center">Updated at</th>
  </tr>
  <tr>
    <td><%= @category.name %></td>
    <td><%= @category.category %></td>
    <td><%= @category.visible ? 'Yes' : 'No' %></td>
    <td><%= @category.created_at %></td>
    <td><%= @category.updated_at %></td>
  </tr>
</table>